@charset "UTF-8";

/* --------------------------------
 * base
 * -------------------------------- */
html {
/*  font-size: 62.5%;*/
/*  scroll-behavior: smooth;*/
}
body {
  background: #808080;
  color: #757575;
  text-align: center;
  font-size: 1.4rem;
  font-family: "Hiragino Kaku Gothic ProN","Meiryo", sans-serif;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
h2 {
  font-size: 1.4em;
  margin: 0;
/*  margin: 0.67em 0;*/
  color: black;
/*  font-family: "Hiragino Kaku Gothic ProN","Meiryo", sans-serif;*/
}
h3 {
  font-size: 0.8em;
  margin: 0;
/*  margin: 0.67em 0;*/
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

li {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

a {
font-weight:bold;
text-decoration:none;
}

a:link {
color:#FFFFFF;
}

a:visited {
color:#FFFFFF;
}

a:hover {
color:#FFFFFF;
text-decoration:wavy underline;
}

a:active {
color:#FFFFFF;
}

/* --------------------------------
 * parts
 * -------------------------------- */
.heading {
  position: relative;
  display: inline-block;
  font-family: Arial;
  font-size: 21px;
  color: #FFFFFF;
  letter-spacing: 1.5px;
  text-align: left;
}
.clearfix::after{
  content: "";
  display:  block;
  clear: both;
}

/* --------------------------------
 * header
 * -------------------------------- */
.header-index {
  width: 580px;
  padding: 80px 0 0;
  margin:0 auto;
}
.header-title{
/*  width: 253px;*/
  margin: 0 auto;
}
/*.title-logo{
  position: relative;
}*/
.site-title {
  font-size: 40px;
  font-weight: bold;
  font-family: Arial;
  color: #FFFFFF;
  text-decoration: none;
  margin: 20px 0;
}
.site-title a:hover {
color:#FFFFFF;
text-decoration:none;
}
/*.title-logo::after{
  content: '';
  background-color: black;
  position: absolute;
  bottom: 15%;
  right: 0;
  width: 155px;
  height: 45px;
  z-index: -1;
}*/
.site-title-sub {
  margin: 0 0 100px;
  font-family: HiraMinProN-W3;
  font-size: 12px;
  color: #FFFFFF;
  text-align: center;
  letter-spacing: 1px;
  line-height: 24px;
}
.global-nav{
  text-align: center;
}
.global-nav .nav-item{
  font-size: 16px;
  display: inline-block;
  margin: 0 10px;
  letter-spacing: 1px;
}
.global-nav ul{
  margin: 0;
  padding: 0;
}
/*.nav_link{
  font-family: TimesNewRomanPSMT;
  font-size: 16px;
  color: #000000;
  text-align: center;
  text-decoration: none;
}*/
.top-image{
  width: 580px;
  padding: 20px 0 0;
  margin:0 auto;
}

/* --------------------------------
 * about
 * --------------------------------*/

.heading-text{
  margin: 0;
  font-family: HiraMinProN-W3;
  font-size: 18px;
  font-weight: bold;
  color: #FFFFFF;
  letter-spacing: 1px;
  line-height: 24px;
  text-align: left;
}
.about {
  background-color: #808080;
}
.about-zone{
  width: 800px;
  padding: 0;
  margin: 40px auto;
}
.about-zone-top{
  margin-top: 60px;
  margin-bottom: 100px;
}
.about-text {
  margin: 0;
  padding: 20px 0 20px;
  font-family: yumincho;
  font-size: 13.5px;
  color: #FFFFFF;
  letter-spacing: 1px;
  line-height: 24px;
  text-align: left;
}
.profile-name{
  margin: 30px auto 0;
  padding: 0;
  font-family: yumincho;
  font-size: 18px;
  color: #FFFFFF;
  letter-spacing: 1px;
  line-height: 24px;
  text-align: left;
}
.profile-name-sub{
  margin: 0 auto 10px;
  padding: 0;
  font-family: yumincho;
  font-size: 13.5px;
  color: #FFFFFF;
  letter-spacing: 1px;
  line-height: 30px;
  text-align: left;
}
/*.about-text::after {
  content: "";
  display: block;
  width: 200px;
  border-bottom: 1px solid #979797;
  margin: 60px auto 0;
}*/

/* --------------------------------
 * works
 * --------------------------------*/

.works {
  background-color: #808080;
}
.works-zone{
  width: 800px;
  padding: 0;
  margin: 40px auto;
}
.works-wrapper {
/*  display: table;
  table-layout: fixed;*/
/*  display: flex;
  flex-wrap:  wrap;
  margin-top: 60px;*/
}
/*.works-wrapper::after {
  content: "";
  display: block;
  width: 200px;
  border-bottom: 1px solid #979797;
  margin: 80px auto 0;
}*/
.works-box {
  margin: 0 auto;
  width: 800px;
  background-color: #F3F2F2;
  border-radius: 10px;
/*  position: relative;
  display: table-cell;*/
/*  padding:0 17.5px;*/
}
.works-title{
  margin-top: 20px;
  font-size: 16px;
  font-family: yumincho;
  letter-spacing: 1px;
  line-height: 24px;
  text-align: left;
}
.works-text {
  margin: 0;
  width: 300px;
  color: #808080;
  font-family: yumincho;
  font-size: 13.5px;
  letter-spacing: 1px;
  line-height: 24px;
  text-align: left;
  float: left;
}
.works-image {
  width: 300px;
  object-fit: cover;
  display: block;
  margin-right: auto;
}

/* --------------------------------
 * footer
 * --------------------------------*/

.footer{
  padding: 10px 0;
}
.footer-text {
  margin: 0;
  font-family: Arial;
  font-size: 12px;
  color: #cccccc;
  line-height: 22px;
  letter-spacing: 0.5px;
}
/*.other-wrapper{
  background-color: #D8D8D8;
}
.other-wrapper a{
  color: #D8D8D8;
  text-decoration:none;
}
.other-log {
  display: block;
  font-size: 6px;
  float:left;
  color: #D8D8D8;
}
.other-sign {
  display: block;
  font-size: 6px;
  float:right;
  color: #D8D8D8;
}*/


/* --------------------------------
 * smart phone
 * -------------------------------- */
@media (max-width: 1024px) {
  body {
    background-image: none;
  }
}
@media (max-width: 768px) {
  body {
    font-size: 1.3rem;
  }
  .heading {
    margin-top: 20px;
    font-size: 2.5rem;
  }
  .button:hover {
    opacity: 1;
  }

  /* --- header ---
  .header {
    padding-top: 60px;
  }
  .site-title-sub {
    font-size: 1.7rem;
  }
  .site-title-sub::before,
  .site-title-sub::after {
    display: block;
    width: 80%;
    margin: 10px auto;
  }
  .site-title {
    margin-top: 35px;
    font-size: 5rem;
  }

  /* --- about --- */
  .about-text {
    line-height: 1.8;
  }

  /* --- works --- */
  .works-wrapper,
  .work-box {
    display: block;
  }
  .work-image {
    display: none;
  }
  .work-description {
    position: relative;
  }
  .work-box::after {
    top: 0;
    height: 100%;
    background-size: cover;
    transform: none;
  }

  /* --- skills --- */
  .skills-wrapper,
  .skill-box {
    display: block;
  }
  .skill-box {
    margin: 40px auto;
  }
  .skill-icon {
    width: 100px;
    height: 100px;
    font-size: 5rem;
    line-height: 92px;
  }
  .skill-text {
    margin: 0;
  }

  /* --- contact --- */
  .contact {
    padding-bottom: 80px;
  }
  .contact-form {
    width: 80%;
  }
}
